html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", "Arial", sans-serif;
}

#left {
	width: 100%;
	height: 100%;
	display: table;
	background-color: grey;
	background-image: url("background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#left-content {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 1.5rem;
	text-align: center;
}

#right {
	background-color: #FCF8FC;
}

#right-top {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #662E6C;
	text-align: center;
}

.link {
	display: inline-table;
	height: 25px;
	padding: 5px;
	vertical-align: middle;
	background-color: plum;
	border-radius: 8px;
}

.link a {
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: black;
}

.link-cat {
	display: inline-table;
	height: 25px;
	padding: 5px;
	vertical-align: middle;
        color: white;
}

.link-cat p {
	display: table-cell;
	vertical-align: middle;
}

#right-content {
	padding: 8px;
}

.card {
	margin: auto;
	padding: 8px;
	background-color: thistle;
	border-radius: 4px;
	margin-top: 8px;
	max-width: 960px;
}

#footer {
	width: 100%;
	color: white;
	float: bottom;
	position: fixed;
	bottom: 0%;
}